<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>

                <h2>Dashboard</h2>

                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200'>HOME</a>

                  </div>

                <div>



                    <a class='left-sidebar-links' href='http://localhost:4200/upload'>UPLOAD</a>

                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/plot'>VISUALIZE</a>
                </div>
                
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/forecast'>FORECAST</a>
                </div>

              





            </div>

            <div class='dashboard'>
               

                <div class='top-bar'>
                </div>

                <h2>MARKET FORECASTING</h2>

                <br>

                <div class="rightbar">
                    


            </div>


        </div>
    </div>